@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,500,300,300italic&subset=latin,cyrillic-ext);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300&subset=latin,cyrillic-ext);
.slideshow .fotorama__nav-wrap {
  margin-top: -60px;
  height: 60px; }
.slideshow .fotorama__dot {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  border: 2px solid #fff;
  background-color: transparent;
  width: 10px;
  height: 10px;
  margin: 0 5px 0 0; }
.slideshow .fotorama__nav__frame.fotorama__active .fotorama__dot {
  width: 10px;
  height: 10px;
  background-color: #fff;
  border: 2px; }
.slideshow .fotorama__nav--dots .fotorama__nav__frame {
  width: inherit;
  height: 30px; }
.slideshow .fotorama__nav__shaft {
  float: right;
  margin-right: 25%; }
.slideshow .fotorama__arr {
  width: 20px;
  height: 40px;
  top: 70%;
  background: url("../img/arr-right.png");
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -o-background-size: contain;
  background-size: contain; }
  .slideshow .fotorama__arr--prev {
    display: block !important;
    transform: none !important;
    background: url("../img/arr-left.png");
    background-repeat: no-repeat;
    left: 13%;
    -webkit-background-size: contain;
    -o-background-size: contain;
    background-size: contain; }
  .slideshow .fotorama__arr--next {
    display: block !important;
    transform: none !important;
    right: 13%; }
.slideshow .fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__arr, .slideshow .fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon {
  opacity: 1; }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300; }

a {
  text-decoration: none; }
  a:hover, a:focus, a:active {
    outline: none; }

ul {
  list-style-type: none; }

.block_title {
  color: #fff;
  font-size: 22px;
  text-decoration: none;
  color: #000;
  float: left;
  margin-left: 15px;
  display: block;
  margin-bottom: 25px;
  font-family: "Roboto Slab", serif;
  font-weight: 400; }
  .block_title span {
    color: #D2D2D2; }
  .block_title:hover {
    color: #000; }

.p0 {
  padding: 0; }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

@media (min-width: 1200px) {
  .container {
    width: 900px; } }
.lead_par {
  font-family: "Roboto Condensed", sans-serif;
  color: #7C7C7B;
  font-size: 18px;
  margin-bottom: 25px; }

p {
  font-size: 14px;
  color: #0A0203; }

.hamburger-slim {
  background: transparent;
  position: relative;
  height: 30px;
  width: 35px;
  display: none;
  float: right;
  top: 5px;
  right: 5px;
  z-index: 99; }
  .hamburger-slim:before, .hamburger-slim:after {
    background: #000;
    backface-visibility: hidden;
    content: "";
    height: 2px;
    left: 0;
    transition: 0.75s;
    width: 35px; }
  .hamburger-slim:before {
    box-shadow: #000 0 10px 0 0;
    position: absolute;
    top: 0; }
  .hamburger-slim:after {
    position: absolute;
    top: 20px; }
  .hamburger-slim--active:before {
    box-shadow: transparent 0 0 0 0;
    top: 10px;
    transform: rotate(225deg); }
  .hamburger-slim--active:after {
    top: 10px;
    transform: rotate(315deg); }

.home-news .slick-slide, .brands .slick-slide {
  outline: none; }
.home-news .slick-prev, .home-news .slick-next, .brands .slick-prev, .brands .slick-next {
  width: 20px;
  height: 40px; }
  .home-news .slick-prev:before, .home-news .slick-next:before, .brands .slick-prev:before, .brands .slick-next:before {
    content: "";
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: block;
    width: 100%;
    height: 100%; }
.home-news .slick-prev, .brands .slick-prev {
  left: -50px; }
  .home-news .slick-prev:before, .brands .slick-prev:before {
    background-image: url("../img/arr-gray-left.png"); }
.home-news .slick-next, .brands .slick-next {
  height: -50px; }
  .home-news .slick-next:before, .brands .slick-next:before {
    background-image: url("../img/arr-gray-right.png"); }

.modal-content {
  display: block;
  float: left;
  width: 100%;
  height: 512px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0; }

.modal-dialog {
  width: 70%; }

button.close {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 99;
  outline: none; }

.cantacts-modal--text {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 0; }
  .cantacts-modal--text:before, .cantacts-modal--text:after {
    display: table;
    content: " "; }
  .cantacts-modal--text:after {
    clear: both; }
  .cantacts-modal--text h3.block_title {
    margin: 10px 0;
    padding-left: 20px;
    width: 100%; }
  .cantacts-modal--text a.small_link {
    display: block;
    margin: 10px 0;
    padding-left: 20px;
    font-size: 14px;
    color: #7C7C7B;
    width: 100%;
    float: left; }
  .cantacts-modal--text .contact-info--text--box {
    padding: 0 20px; }

.navigation {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  color: #000; }
  .navigation--contacts {
    display: block;
    float: right;
    padding: 10px 0; }
    .navigation--contacts a {
      display: block;
      float: left;
      margin: 0 15px;
      color: #000;
      font-size: 15px; }
    .navigation--contacts a.navigation--contacts--soc {
      width: 22px;
      height: 22px;
      margin: 0 0 0 10px;
      text-align: center;
      line-height: 22px;
      color: #FFF;
      background-color: #000;
      opacity: 0.2; }
      .navigation--contacts a.navigation--contacts--soc:hover {
        opacity: 1; }

.navbar-default .navbar-nav > li > a {
  color: #000;
  font-size: 15px;
  padding: 10px; }

.navbar-default {
  background-color: #fff;
  border: none; }

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  color: #fff;
  background-color: #000; }

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
  color: #fff;
  background-color: #000; }

.dropdown-menu {
  min-width: 130px !important; }
  .dropdown-menu > li > a {
    white-space: normal;
    padding: 5px 10px; }
    .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
      color: #fff;
      text-decoration: none;
      background-color: #000; }

.navbar-brand {
  height: auto;
  padding: 8px 0; }

.slideshow {
  display: block;
  float: left;
  position: relative;
  width: 100%; }
  .slideshow__item {
    padding-top: 84px; }
    .slideshow__item--link {
      width: 33%;
      padding: 20px;
      display: block;
      float: left;
      position: absolute;
      left: 17%;
      bottom: 50px;
      background-color: rgba(255, 255, 255, 0.9);
      text-decoration: none; }
      .slideshow__item--link h4 {
        color: #0A0203;
        font-family: "Roboto Slab", serif;
        font-size: 20px; }
      .slideshow__item--link p {
        color: #0A0203;
        font-size: 14px; }
      .slideshow__item--link span {
        color: #7C7C7B; }
      .slideshow__item--link:hover {
        text-decoration: none; }

.home-news {
  display: block;
  float: left;
  position: relative;
  width: 100%;
  padding: 50px 0 25px; }
  .home-news .news-carousel {
    margin: 25px 0;
    padding: 25px 0 50px;
    border-bottom: 1px solid #d2d2d2; }
    .home-news .news-carousel__item--img {
      display: block;
      float: left;
      width: 100%;
      height: 290px;
      overflow: hidden; }
      .home-news .news-carousel__item--img img {
        min-width: 100%;
        height: auto;
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%); }
    .home-news .news-carousel__item h4 {
      font-size: 16px;
      font-family: "Roboto Slab", serif;
      font-weight: 400;
      margin-top: 0;
      color: #0A0203; }
    .home-news .news-carousel__item small {
      color: #7C7C7B;
      font-size: 12px;
      display: block;
      margin: 15px 0; }
    .home-news .news-carousel__item p {
      color: #0A0203;
      font-size: 14px; }
    .home-news .news-carousel__item a {
      color: #7C7C7B;
      font-size: 14px; }
      .home-news .news-carousel__item a:hover {
        color: #7C7C7B; }

.catalog {
  display: block;
  float: left;
  position: relative;
  width: 100%;
  padding: 25px 0; }
  .catalog__item {
    display: block;
    float: left;
    width: 100%;
    height: 275px;
    padding: 10px 10px 20px;
    text-decoration: none;
    border: 1px solid transparent; }
    .catalog__item--img {
      display: block;
      float: left;
      width: 100%;
      margin-bottom: 15px;
      height: 130px;
      overflow: hidden; }
      .catalog__item--img img {
        min-width: 100%;
        height: auto;
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%); }
    .catalog__item h4 {
      font-size: 16px;
      font-family: "Roboto Slab", serif;
      font-weight: 400;
      margin-top: 0;
      color: #0A0203;
      margin-bottom: 15px; }
    .catalog__item p {
      color: #0A0203;
      font-size: 14px; }
    .catalog__item:hover {
      text-decoration: none;
      border: 1px solid #d2d2d2; }

.brands {
  display: block;
  float: left;
  position: relative;
  width: 100%;
  margin: 25px 0 50px; }
  .brands--wrapper {
    padding-bottom: 100px;
    border-bottom: 1px solid #d2d2d2; }
  .brands-carousel {
    margin: 25px 0; }
    .brands-carousel__item {
      margin-right: 25px; }
      .brands-carousel__item--logo {
        display: block;
        width: 100%;
        height: 130px;
        line-height: 130px;
        border-bottom: 1px solid #d2d2d2; }
        .brands-carousel__item--logo img {
          display: inline-block;
          line-height: normal;
          vertical-align: middle;
          max-height: 100%;
          max-width: 100%; }
      .brands-carousel__item h5 {
        font-size: 16px;
        color: #0A0203;
        font-family: "Roboto Slab", serif;
        margin: 10px 0; }

.architects {
  display: block;
  float: left;
  position: relative;
  width: 100%;
  padding: 25px 0 25px; }
  .architects--wrapper {
    padding-bottom: 90px;
    border-bottom: 1px solid #d2d2d2; }
  .architects img {
    width: 90%;
    margin: 0 auto;
    display: block; }
  .architects h5 {
    font-weight: 300;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 18px;
    color: #7C7C7B;
    margin-bottom: 25px;
    display: block; }
  .architects p {
    color: #0A0203;
    font-size: 14px; }

.partners {
  display: block;
  float: left;
  position: relative;
  width: 100%;
  padding: 50px 0; }
  .partners h5 {
    font-weight: 300;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 18px;
    color: #7C7C7B;
    margin-bottom: 25px;
    display: block; }
  .partners--wrapper {
    background-image: url("../img/worldmap.png");
    background-repeat: no-repeat;
    background-position: 125% 43%;
    display: block;
    float: left;
    background-size: 77%; }
  .partners--links {
    font-size: 14px;
    color: #7C7C7B;
    margin: 15px 0;
    display: block; }
    .partners--links:hover {
      color: #7C7C7B; }
    .partners--links--wrap {
      margin-top: 50px; }
  .partners--brand {
    display: block;
    float: left;
    width: 100%;
    height: 50px;
    line-height: 50px;
    position: relative;
    margin: 15px 0; }
    .partners--brand img {
      max-width: 100%;
      max-height: 100%;
      line-height: normal;
      vertical-align: middle; }

.contact-info {
  display: block;
  float: left;
  position: relative;
  width: 100%;
  height: 710px; }
  .contact-info--text {
    position: absolute;
    left: 15%;
    top: 50px;
    width: 425px; }
    .contact-info--text--box {
      display: block;
      float: left;
      padding: 20px;
      background-color: rgba(255, 255, 255, 0.9); }
      .contact-info--text--box--line {
        border-bottom: 1px solid #D2D2D2;
        padding-bottom: 10px;
        margin-bottom: 20px;
        display: block; }
        .contact-info--text--box--line a {
          font-size: 14px;
          color: #0A0203; }
      .contact-info--text--box .navigation--contacts {
        display: block;
        float: left;
        width: 100%; }
        .contact-info--text--box .navigation--contacts--soc {
          margin: 0 10px 0 0 !important; }

.question {
  display: block;
  float: left;
  position: relative;
  padding: 70px 0;
  width: 100%; }
  .question--input {
    border: none;
    outline: none;
    width: 100%;
    background-color: #F0F0F0;
    height: 40px;
    margin-bottom: 20px;
    color: #000;
    font-size: 16px;
    padding: 0 10px; }
  .question--text {
    border: none;
    outline: none;
    width: 100%;
    background-color: #F0F0F0;
    margin-bottom: 20px;
    height: 160px;
    resize: none;
    color: #000;
    font-size: 16px;
    line-height: 40px;
    padding: 0 10px; }
  .question small {
    font-size: 14px; }
  .question--but {
    display: block;
    float: right;
    padding: 10px 50px;
    color: #FFF;
    font-size: 16px;
    background-color: #5ADCFF;
    border: none;
    outline: none; }
    .question--but:hover, .question--but:active, .question--but:focus {
      background-color: #0eccff; }
  .question h2 {
    width: 100%; }

.init-slide {
  display: block;
  float: left;
  position: relative;
  width: 100%;
  height: 600px;
  background-image: url("../img/arch-bg.jpg");
  background-position: 50% 50%;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.page-team__description {
  display: block;
  float: left;
  width: 100%;
  position: relative;
  padding-top: 50px; }
  .page-team__description h2 {
    width: 100%;
    margin-left: 0; }
.page-team--wrapper {
  display: block;
  float: left;
  width: 100%;
  padding-bottom: 75px;
  border-bottom: 1px solid #d2d2d2; }
.page-team__members {
  display: block;
  float: left;
  position: relative;
  width: 100%;
  padding-top: 50px; }
  .page-team__members h2 {
    width: 100%;
    margin-left: 0; }
  .page-team__members__item {
    display: block;
    float: left;
    position: relative;
    width: 100%;
    margin: 25px 0; }
    .page-team__members__item--img {
      display: block;
      float: left;
      width: 100%;
      height: 200px;
      margin-bottom: 25px;
      overflow: hidden; }
      .page-team__members__item--img img {
        min-width: 100%;
        height: auto;
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%); }
    .page-team__members__item h4 {
      font-family: "Roboto Slab", serif;
      font-size: 16px; }
    .page-team__members__item--links {
      display: block;
      float: left;
      width: 100%;
      margin-top: 25px; }
      .page-team__members__item--links p {
        margin: 0; }

.footer {
  display: block;
  float: left;
  position: relative;
  width: 100%;
  background-color: #F0F0F0;
  padding: 75px 0 25px; }
  .footer--sitemap {
    display: block;
    float: left;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #D2D2D2;
    padding-bottom: 75px; }
    .footer--sitemap ul {
      display: block;
      padding: 0;
      margin-bottom: 25px; }
      .footer--sitemap ul li {
        margin: 5px 0; }
        .footer--sitemap ul li a {
          color: #7C7C7B;
          font-size: 14px; }
        .footer--sitemap ul li a.footer--sectionlink {
          font-family: "Roboto Slab", serif;
          font-size: 16px;
          color: #000; }
          .footer--sitemap ul li a.footer--sectionlink span {
            color: #7C7C7B; }
  .footer--info {
    display: block;
    float: left;
    position: relative;
    width: 100%;
    margin: 50px 0 25px;
    margin-left: 15px; }
    .footer--info h4 {
      font-family: "Roboto Slab", serif;
      font-size: 16px; }
    .footer--info a {
      color: #000; }
    .footer--info .navigation--contacts {
      padding: 0 !important; }
  .footer--copyright {
    display: block;
    float: left;
    width: 100%;
    position: relative;
    margin-top: 25px; }
    .footer--copyright p {
      color: #7C7C7B; }

@media only screen and (max-width: 770px) {
  .align-left {
    text-align: center; }

  .align-right {
    text-align: center; } }
@media only screen and (max-width: 500px) {
  .hamburger-slim {
    display: block; } }
@media (min-width: 768px) {
  .navbar-right .dropdown-menu {
    left: 0; }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px; } }

/*# sourceMappingURL=style.css.map */
