.navigation {
	font-family: $rob-s;
	font-weight: 400;
	color: #000;
	&--contacts {
		display: block;
		float: right;
		padding: 10px 0;
		a {
			display: block;
			float: left;
			margin: 0 15px;
			color: #000;
			font-size: 15px;
		}
		a.navigation--contacts--soc {
			width: 22px;
			height: 22px;
			margin: 0 0 0 10px;
			text-align: center;
			line-height: 22px;
			color: #FFF;
			background-color: #000;
			opacity: 0.2;
			&:hover {
				opacity: 1;
			}
		}
	}
}

.navbar-default .navbar-nav>li>a {
	color: #000;
	font-size: 15px;
	padding: 10px;
}
.navbar-default {
    background-color: #fff;
    border: none;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background-color: #000;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: #000;
}

.dropdown-menu {
	min-width: 130px!important;   
	>li>a {
		white-space: normal;
	 	padding: 5px 10px;
	 	&:hover, &:focus {
	 		color: #fff;
		    text-decoration: none;
		    background-color: #000;
	 	}
	}
}

.navbar-brand {
    height: auto;
    padding: 10px 0;
}