.footer {
	display: block;
	float: left;
	position: relative;
	width: 100%;
	background-color: #F0F0F0;
	&--sitemap {
		display: block;
		float: left;
		position: relative;
		width: 100%;
		border-bottom: 1px solid #D2D2D2;
		padding-bottom: 75px;
		ul {
			display: block;
			padding: 0;
			margin-bottom: 25px;
			li {
				a {
					color: #7C7C7B;
					font-size: 14px;
				}
			}
		}
	}
	&--sectionlink {
		font-family: $rob-s;
		font-size: 16px;
		color: #000;
		span {
			color: #7C7C7B;
		}
	}
}