.slideshow {
	display: block;
	float: left;
	position: relative;
	width: 100%;
	&__item {
		padding-top: 84px;
		&--link {
			width: 33%;
			padding: 20px;
			display: block;
			float: left;
			position: absolute;
			left: 17%;
			bottom: 50px;
			background-color: rgba(255, 255, 255, .9);
		}
	}
}

.home-news {
	display: block;
	float: left;
	position: relative;
	width: 100%;
	padding: 50px 0 25px;
	.news-carousel {
		margin: 25px 0;
	    padding: 25px 0 50px;
		border-bottom: 1px solid #d2d2d2;
		&__item {
			&--img {
				display: block;
				float: left;
				width: 100%;
				height: 290px;
				@include overflow-img;
			}
			h4 {
				font-size: 16px;
				font-family: $rob-s;
				font-weight: 400;
				margin-top: 0;
				color: #0A0203;
				
			}
			small {
				color: #7C7C7B;
				font-size: 12px;
				display: block;
				margin: 15px 0;
			}
			p {
				color: #0A0203;
				font-size: 14px;
			}
			a {
				color: #7C7C7B;
				font-size: 14px;
				&:hover {
					color: #7C7C7B;
				}
			}
		}
	}
}

.catalog {
	display: block;
	float: left;
	position: relative;
	width: 100%;
	padding: 25px 0;
	&__item {
		display: block;
		float: left;
		width: 100%;
		height: 275px;
		padding: 10px 10px 20px;
		text-decoration: none;
		border: 1px solid transparent;
		&--img {
			display: block;
			float: left;
			width: 100%;
			margin-bottom: 15px;
			height: 130px;
			@include overflow-img;
		}
		h4 {
			font-size: 16px;
			font-family: $rob-s;
			font-weight: 400;
			margin-top: 0;
			color: #0A0203;	
			margin-bottom: 15px;		
		}
		p {
			color: #0A0203;
			font-size: 14px;
		}
		&:hover {
			text-decoration: none;
			border: 1px solid #d2d2d2;
		}
	}
}

.brands {
	display: block;
	float: left;
	position: relative;
	width: 100%;
	margin: 25px 0 50px;
	&--wrapper {
		padding-bottom: 100px;		
		border-bottom: 1px solid #d2d2d2;
	}
	&-carousel {
		margin: 25px 0;
		&__item {
			margin-right: 25px;
			&--logo {
				display: block;
				width: 100%;
				height: 130px;
				line-height: 130px;
				border-bottom: 1px solid #d2d2d2;
				img {
					display: inline-block;
					line-height: normal;
					vertical-align: middle;
					max-height: 100%;
					max-width: 100%;
				}
			}
			h5 {
				font-size: 16px;
				color: #0A0203;
				font-family: $rob-s;
				margin: 10px 0;
			}
		}
	}
}

.architects {
	display: block;
	float: left;
	position: relative;
	width: 100%;
	padding: 25px 0 25px;
	&--wrapper {
		padding-bottom: 90px;		
		border-bottom: 1px solid #d2d2d2;
	}
	img {
		width: 90%;
		margin: 0 auto;
		display: block;
	}
	h5 {
		font-weight: 300;
		font-family: $rob-c;
		font-size: 18px;
		color: #7C7C7B;
		margin-bottom: 25px;
		display: block;
	}
	p {		
		color: #0A0203;
		font-size: 14px;
	}
}

.partners {
	display: block;
	float: left;
	position: relative;
	width: 100%;
	padding: 50px 0;
	h5 {
		font-weight: 300;
		font-family: $rob-c;
		font-size: 18px;
		color: #7C7C7B;
		margin-bottom: 25px;
		display: block;
	}
	&--wrapper {
		background-image: url('../img/worldmap.png');
		background-repeat: no-repeat;
		background-position: 125% 43%;
		display: block;
		float: left;
		background-size: 77%;
		
	}
	&--links {
		font-size: 14px;
		color: #7C7C7B;
		margin: 15px 0;
		display: block;
		&:hover {
			color: #7C7C7B;
		}
		&--wrap {
			margin-top: 50px;
		}
	}
	&--brand {
		display: block;
		float: left;
		width: 100%;
		height: 50px;
		line-height: 50px;
		position: relative;
		margin: 15px 0;
		img {
			max-width: 100%;
			max-height: 100%;
			line-height: normal;
			vertical-align: middle;
		}
	}
}

.contact-info {
	display: block;
	float: left;
	position: relative;
	width: 100%;
	height: 710px;
	&--text {
		position: absolute;
		left: 15%;
		top: 50px;
		width: 425px;
		&--box {
			display: block;
			float: left;
			padding: 20px;
			background-color: rgba(255,255,255, 0.9);
			&--line {
				border-bottom: 1px solid #D2D2D2;
				padding-bottom: 10px;
				margin-bottom: 20px;
				display: block;
				a {
					font-size: 14px;
					color: #0A0203;
				}
			}
			.navigation--contacts {
				display: block;
				float: left;
				width: 100%;
				&--soc {
					margin: 0 10px 0 0!important;
				}
			}
		}
		
	}
}

.question {
	display: block;
	float: left;
	position: relative;
	padding: 70px 0;
	width: 100%;
	&--input {
		border: none;
		outline: none;
		width: 100%;
		background-color: #F0F0F0;
		height: 40px;
		margin-bottom: 20px;
		color: #000;
		font-size: 16px;
		padding: 0 10px;
	}
	&--text {
		border: none;
		outline: none;
		width: 100%;
		background-color: #F0F0F0;
		margin-bottom: 20px;
		height: 160px;
		resize: none;
		color: #000;
		font-size: 16px;
		line-height: 40px;
		padding: 0 10px;
	}
	small {
		font-size: 14px;
	}
	&--but {
		display: block;
		float: right;
		padding: 10px 50px;
		color: #FFF;
		font-size: 16px;
		background-color: #5ADCFF;
		border: none;
		outline: none;
		&:hover, &:active, &:focus {
			background-color: darken(#5ADCFF, 15%);
		}
	}
}
