body {
	font-family: $rob;
	font-weight: 300;
}
a {
	text-decoration: none;
	&:hover, &:focus, &:active{
		outline: none;
	}
}

ul {
	list-style-type: none;
}

.block_title {
	color: #fff;
    font-size: 22px;
    text-decoration: none;
	color: #000;
	float: left;
	margin-left: 15px;
	display: block;
	margin-bottom: 25px;	
	font-family: $rob-s;
	font-weight: 400;
	span {
		color: #D2D2D2;
	}
	&:hover {
		color: #000;
	}
}

.p0  {
	padding: 0;
}

.align-left {
	text-align: left;
}
.align-right {
	text-align: right;
}

@media (min-width: 1200px) {
  .container {
    width: 900px;
  }
}








