.hamburger-slim {
  background: transparent;
  position: relative;
  height: 30px;
  width: 35px;
  display: none;
  float: right;
  top: 5px;
  right: 5px;
  z-index: 99;
  &:before,
  &:after {
    background: #000;
    backface-visibility: hidden;
    content: "";
    height: 2px;
    left: 0;
    transition: 0.75s;
    width: 35px;
  }
  &:before {
    box-shadow: #000 0 10px 0 0;
    position: absolute;
    top: 0;
  }
  &:after {
    position: absolute;
    top: 20px;
  }
  &--active {
    &:before {
      box-shadow: transparent 0 0 0 0;
      top: 10px;
      transform: rotate(225deg);
    }
    &:after {  
      top: 10px;
      transform: rotate(315deg);
    }
  }
}

.home-news, .brands {
  .slick-slide {
    outline: none;
  }
 .slick-prev, .slick-next {
    width: 20px;
    height: 40px;  
     &:before {
      content: "";
      background-repeat: no-repeat;
      background-position: 50% 50%;
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  .slick-prev {
    left: -50px;
    &:before {
      background-image: url('../img/arr-gray-left.png');
    }
  }
  .slick-next {
    height: -50px;
    &:before {
      background-image: url('../img/arr-gray-right.png');
    }
  }
}
.modal-contacts {
  .modal-content {
    display: block;
    margin: 0 auto; 
    max-width: 900px;
    width: 100%;
    height: 512px;
    @include border-radius(0);
  }

  .modal-dialog {
      width: 70%;
  }

  button.close {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 99;
    outline: none;
  }

  .cantacts-modal--text {
    @include inside-pad;
    padding: 10px 0;
    h3.block_title {
      margin: 10px 0;
      padding-left: 20px;
      width: 100%;
    }
    a.small_link {
      display: block;
        margin: 10px 0;
      padding-left: 20px;
      font-size: 14px;
      color: #7C7C7B;
      width: 100%;
      float: left;
    }
    .contact-info--text--box {
      padding: 0 20px;
    }
  }
}

.team-modal, .competence-modal {
  .modal-content {
    background-color: #FFF;
    display: block;
    float: left;
    border-radius: 0;
    padding: 20px;
    h4, p {
      width: 80%;
    }
    h4 {
      margin-top: 0;
      font-family: $rob-s;
    }
    button.close {
      position: absolute;
      top: 20px;
      right: 20px;
      z-index: 99;
      outline: none;
    }
  }
  div#page-news--modal {
      background: rgba(0, 0,0, .5);
  } 
  .modal-backdrop.in {
      filter: alpha(opacity=0);
      opacity: 0;
  }
}