@media only screen and (max-width: 1200px) {
	.slideshow {
		margin-top: 85px;
	}
}
@media only screen and (max-width: 1025px) {
	.slideshow__item--link {
	    padding: 15px;
	    width: 100%;
	    height: auto;
	    background-color: #fff;
	    left: 0!important;
	    bottom: 0px;
	}
   .onslider-logo {
   		height: 90px;
   		width: 75px;
   }
   .modal-contacts .cantacts-modal--text h3.block_title {
   		font-size: 18px;
   }
   .contact-info--text--box--line {
	    border-bottom: 1px solid #D2D2D2;
	    padding-bottom: 0px;
	    margin-bottom: 10px;
	    display: block;
	}
	.slideshow .fotorama__arr {
		top: 50%;
	}
	.slideshow .fotorama__nav-wrap {
	    height: 30px;
	    margin: 0;
	    top: 60%;
	    position: absolute;
	    z-index: 0;
	}
}

@media only screen and (max-width: 770px) {
	.align-left {
		text-align: center;
	}
	.align-right {
		text-align: center;
	}
	.navbar-default .navbar-nav > li > a {
	    color: #000;
	    font-size: 14px;
	    padding: 10px 5px;
	}
	.dropdown-menu > li > a {
		font-size: 14px;
	}
	.question h2 {
	    width: inherit;
	}
	.slideshow .fotorama__arr--prev{
		left: 2%;
	}
	.slideshow .fotorama__arr--next{
		right: 2%;
	}
	.home-news .news-carousel {
	    margin: 25px auto;
	    width: 90%;
    }
    .brands-carousel {
	    margin: 25px auto;
	    width: 90%;
	}
	.home-news .news-carousel__item--img {		
    	margin-left: 5px;
	}

	.modal-contacts .modal-content {	    
	    float: left;
	    height: auto;
    }

    div#map_contact {
	    height: 300px!important;
	}
	.brands-carousel__item {
		padding-left: 2px;
	}
	// .dropdown {
	// 	&:hover {
	// 		ul {
	// 			display: inherit;
	// 		}
	// 	}
	// }

}

@media only screen and (max-width: 737px) {
	.hamburger-slim {
		display: block;
		margin: 10px;
	}
	.navigation--contacts a.navigation--contacts--modal--but {
	    border-bottom: none;
	    width: 100%;
	    text-align: center;
        margin: 0;
	}

	.navigation--contacts .navigation--contacts--soc--wrap {
	    /* float: left; */
	    display: flex;
	    align-items: center;
	    width: 100%;
	    justify-content: center;
	}

	.navigation {
		article.navigation--contacts {
		    display: block;
		    float: left;
		    width: 100%;
		    padding: 0;
		}
	}
	.navbar-brand {
	    height: auto;
	    width: 71px;
	    img {
	    	width: 100%;
	    }
    }
    .navbar {
		margin-bottom: 0;
    }
    .page-team__reviews__item {
    	height: auto;
    }

    .page-team__competence__item {
    	height: auto;
    }
    .onslider-logo {
    	top: 120px;
    }
    .page-team__competence__item img { 
    	margin-bottom: 25px;
    }
    .team-modal .modal-content h4, .competence-modal .modal-content h4 {
    	margin-top: 25px;
    }

    .footer--dev {
	    margin-left: 0;
	}

	.modal-contacts .cantacts-modal--text .contact-info--text--box {
	    padding: 0;
	}
	.modal-contacts .cantacts-modal--text h3.block_title {
		padding-left: 0;
	}
	.modal-contacts .cantacts-modal--text a.small_link {
		padding-left: 0;
	}
}

@media only screen and (max-width: 569px) {
	.slideshow .fotorama__arr {
	    top: 40%;
	}
	.slideshow .fotorama__nav-wrap {
	    top: 50%;
	}
}

@media only screen and (max-width: 500px) {

	.home-news .news-carousel__item--img {
	    margin-left: 0;
	}
	.slideshow {
        margin-top: 98px;
	}	
	
	.home-news .news-carousel__item h4 {
		margin-top: 15px;
	} 
	.mobile-news-sleder--text {
		padding: 0;
	}
	.contact-info--text {
	    position: absolute;
	    left: 15%;
	    top: 50px;
	    width: 70%;
	}
	.navigation--contacts--modal--but {
		display: block;
		float: left;
		width: 100%;
		border: none;
		text-decoration: underline;
	}
	.modal-contacts .modal-dialog {
	    width: 90%;
	    margin: 25px auto;
	}

}
@media only screen and (max-width: 320px) {
	// .navigation--contacts a.navigation--contacts--modal--but {
	//     width: 70%;
	//     margin: 0 15% 5px;
	// }
	// .navigation--contacts--soc--wrap {	   
	//     margin: 10px 20%;
	//     width: 60%;
	// }
	.navbar-header {
	    padding-bottom: 5px;
	}
	.onslider-logo {
	    display: block;
	    position: absolute;
	    top: 130px;
    }
}

@media (min-width: 768px) {
	.navbar-right .dropdown-menu {
	    left: 0;
	}
	.navbar-nav>li>a {
	    padding-top: 10px;
	    padding-bottom: 10px;
	}	
}
