@media only screen and (max-width: 980px) {
	
}

@media only screen and (max-width: 770px) {
	.align-left {
		text-align: center;
	}
	.align-right {
		text-align: center;
	}
	.dropdown {
		&:hover {
			ul {
				display: none;
			}
		}
	}
}

@media only screen and (max-width: 500px) {
	.hamburger-slim {
		display: block;
	}
}

@media (min-width: 768px) {
	.navbar-right .dropdown-menu {
	    left: 0;
	}
	.navbar-nav>li>a {
	    padding-top: 10px;
	    padding-bottom: 10px;
	}	
}
